In [14]:
import os
import csv
import pandas as pd

In [17]:
df = pd.DataFrame(columns = ["REGIAO", "UF", "ESTACAO", "CODIGO", "LATITUDE", "LONGITUDE", "ALTITUDE", "DATA_DE_FUNDACAO"])
print(df)

Empty DataFrame
Columns: [REGIAO, UF, ESTACAO, CODIGO, LATITUDE, LONGITUDE, ALTITUDE, DATA_DE_FUNDACAO]
Index: []

In [28]:


pasta = './dataset/2022'  # Substitua pelo caminho real da sua pasta
# Lista todos os arquivos .CSV na pasta
arquivos_csv = [arquivo for arquivo in os.listdir(pasta) if arquivo.endswith('.CSV')]

# Para cada arquivo .CSV, leia as primeiras 8 linhas
for arquivo_csv in arquivos_csv:
    caminho_completo = os.path.join(pasta, arquivo_csv)
    
    with open(caminho_completo, 'r', encoding='latin-1') as arquivo:
        leitor_csv = csv.reader(arquivo)
        
        # Leia as primeiras 8 linhas
        lista = []
        for _ in range(8):
            linha = next(leitor_csv, None)
            if linha is not None:
                lista.append(linha[0].split(":;")[1])
        df.loc[len(df)] = lista
        print(lista)

['SE', 'MG', 'AGUAS VERMELHAS', 'A549', '-15', '-41', '754', '09/09/07']
['SE', 'MG', 'BELO HORIZONTE - CERCADINHO', 'F501', '-19', '-43', '1199', '27/12/13']
['SE', 'MG', 'UBERLANDIA', 'A507', '-18', '-48', '874', '18/12/02']
['SE', 'MG', 'ARACUAI', 'A566', '-16', '-42', '308', '19/05/17']
['SE', 'MG', 'CAMPINA VERDE', 'A519', '-19', '-49', '559', '15/07/06']
['SE', 'MG', 'PIRAPORA', 'A545', '-17', '-44', '505', '04/07/07']
['SE', 'MG', 'CALDAS', 'A530', '-21', '-46', '1077', '28/11/06']
['SE', 'MG', 'ITUIUTABA', 'A512', '-18', '-49', '540', '12/05/06']
['SE', 'MG', 'MARIA DA FE', 'A531', '-22', '-45', '1281', '01/12/06']
['SE', 'MG', 'MANHUACU', 'A556', '-20', '-42', '819', '25/09/10']
['SE', 'MG', 'BAMBUI', 'A565', '-20', '-46', '697', '23/11/16']
['SE', 'MG', 'MONTALVANIA', 'A526', '-14', '-44', '519', '26/06/07']
['SE', 'MG', 'TIMOTEO', 'A511', '-19', '-42', '493', '22/02/06']
['SE', 'MG', 'UBERABA', 'A568', '-19', '-47', '778', '19/05/17']
['SE', 'MG', 'GUANHAES', 'A533', '-18', '-42', '852', '02/06/07']
['SE', 'MG', 'DORES DO INDAIA', 'A536', '-19', '-45', '721', '01/06/07']
['SE', 'MG', 'FLORESTAL', 'A535', '-19', '-44', '753', '27/06/08']
['SE', 'MG', 'ITAOBIM', 'A550', '-16', '-41', '271', '05/09/07']
['SE', 'MG', 'PASSOS', 'A516', '-20', '-46', '781', '16/07/06']
['SE', 'MG', 'VARGINHA', 'A515', '-21', '-45', '949', '13/07/06']
['SE', 'MG', 'DIAMANTINA', 'A537', '-18', '-43', '1359', '05/06/07']
['SE', 'MG', 'PATOS DE MINAS', 'A562', '-18', '-46', '950', '12/05/17']
['SE', 'MG', 'IBIRITE (ROLA MOCA)', 'A555', '-20', '-44', '1198', '06/06/08']
['SE', 'MG', 'SAO SEBASTIAO DO PARAISO', 'A561', '-20', '-47', '845', '17/08/15']
['SE', 'MG', 'SAO ROMAO', 'A547', '-16', '-45', '490', '30/06/07']
['SE', 'MG', 'SETE LAGOAS', 'A569', '-19', '-44', '719', '10/06/16']
['SE', 'MG', 'GUARDA-MOR', 'A546', '-17', '-47', '997', '11/07/07']
['SE', 'MG', 'BARBACENA', 'A502', '-21', '-43', '1168', '05/12/02']
['SE', 'MG', 'CHAPADA GAUCHA', 'A548', '-15', '-45', '873', '22/06/07']
['SE', 'MG', 'SACRAMENTO', 'A525', '-19', '-47', '913', '19/08/06']
['SE', 'MG', 'OLIVEIRA', 'A570', '-20', '-44', '1025', '19/10/17']
['SE', 'MG', 'MACHADO', 'A567', '-21', '-45', '969', '21/07/17']
['SE', 'MG', 'ALMENARA', 'A508', '-16', '-40', '189', '15/12/02']
['SE', 'MG', 'FORMIGA', 'A524', '-20', '-45', '878', '17/08/06']
['SE', 'MG', 'AIMORES', 'A534', '-19', '-41', '287', '05/08/07']
['SE', 'MG', 'BELO HORIZONTE (PAMPULHA)', 'A521', '-19', '-43', '854', '10/10/06']
['SE', 'MG', 'JUIZ DE FORA', 'A518', '-21', '-43', '936', '26/05/07']
['SE', 'MG', 'PARACATU', 'A571', '-17', '-46', '705', '16/03/18']
['SE', 'MG', 'CORONEL PACHECO', 'A557', '-21', '-43', '411', '17/10/12']
['SE', 'MG', 'CARATINGA', 'A554', '-19', '-42', '609', '24/05/07']
['SE', 'MG', 'POMPEU', 'A560', '-19', '-44', '705', '21/08/15']
['SE', 'MG', 'NOVA PORTEIRINHA (JANAUBA)', 'A563', '-15', '-43', '532', '19/11/16']
['SE', 'MG', 'ARAXA', 'A505', '-19', '-46', '1018', '19/12/02']
['SE', 'MG', 'JANUARIA', 'A559', '-15', '-44', '468', '23/06/16']
['SE', 'MG', 'CURVELO', 'A538', '-18', '-44', '669', '18/12/06']
['SE', 'MG', 'OURO BRANCO', 'A513', '-20', '-43', '1048', '28/07/06']
['SE', 'MG', 'SERRA DOS AIMORES', 'A522', '-17', '-40', '211', '21/08/06']
['SE', 'MG', 'PASSA QUATRO', 'A529', '-22', '-44', '1017', '30/05/07']
['SE', 'MG', 'GOVERNADOR VALADARES', 'A532', '-18', '-41', '198', '27/05/07']
['SE', 'MG', 'RIO PARDO DE MINAS', 'A551', '-15', '-42', '850', '17/11/07']
['SE', 'MG', 'BURITIS', 'A544', '-15', '-46', '894', '19/06/07']
['SE', 'MG', 'MONTE VERDE', 'A509', '-22', '-46', '1544', '19/12/04']
['SE', 'MG', 'SAO JOAO DEL REI', 'A514', '-21', '-44', '929', '09/06/06']
['SE', 'MG', 'SALINAS', 'A552', '-16', '-42', '487', '14/09/07']
['SE', 'MG', 'ESPINOSA', 'A543', '-14', '-42', '565', '14/11/07']
['SE', 'MG', 'VICOSA', 'A510', '-20', '-42', '697', '15/09/05']
['SE', 'MG', 'MURIAE', 'A517', '-21', '-42', '282', '30/08/06']
['SE', 'MG', 'JOAO PINHEIRO', 'A553', '-17', '-46', '877', '07/07/07']
['SE', 'MG', 'CONCEICAO DAS ALAGOAS', 'A520', '-19', '-48', '572', '18/07/06']
['SE', 'MG', 'MOCAMBINHO', 'A539', '-15', '-44', '454', '11/11/07']
['SE', 'MG', 'TRES MARIAS', 'A528', '-18', '-45', '931', '25/08/06']
['SE', 'MG', 'CAPELINHA', 'A541', '-17', '-42', '932', '31/08/07']
['SE', 'MG', 'TEOFILO OTONI', 'A527', '-17', '-41', '467', '25/08/06']
['SE', 'MG', 'PATROCINIO', 'A523', '-18', '-46', '978', '22/08/06']
['SE', 'MG', 'MONTES CLAROS', 'A506', '-16', '-43', '645', '19/12/02']
['SE', 'MG', 'MANTENA', 'A540', '-18', '-40', '254', '01/08/07']
['SE', 'MG', 'UNAI', 'A542', '-16', '-46', '640', '16/06/07']
['SE', 'MG', 'DIVINOPOLIS', 'A564', '-20', '-44', '796', '26/10/17']

In [29]:
print(df)

   REGIAO  UF                      ESTACAO CODIGO LATITUDE LONGITUDE ALTITUDE  \
0      SE  MG              AGUAS VERMELHAS   A549      -15       -41      754
1      SE  MG  BELO HORIZONTE - CERCADINHO   F501      -19       -43     1199
2      SE  MG                   UBERLANDIA   A507      -18       -48      874
3      SE  MG                      ARACUAI   A566      -16       -42      308
4      SE  MG                CAMPINA VERDE   A519      -19       -49      559
..    ...  ..                          ...    ...      ...       ...      ...
63     SE  MG                   PATROCINIO   A523      -18       -46      978
64     SE  MG                MONTES CLAROS   A506      -16       -43      645
65     SE  MG                      MANTENA   A540      -18       -40      254
66     SE  MG                         UNAI   A542      -16       -46      640
67     SE  MG                  DIVINOPOLIS   A564      -20       -44      796

   DATA_DE_FUNDACAO
0          09/09/07
1          27/12/13
2          18/12/02
3          19/05/17
4          15/07/06
..              ...
63         22/08/06
64         19/12/02
65         01/08/07
66         16/06/07
67         26/10/17

[68 rows x 8 columns]

In [30]:
csv_file_path = './dataset/estacoes.csv'

# Write the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)